*{
    padding:0;
    margin:0;
}

/* about me */
.aboutme{
  
    height: 80vh;
    background-color:#0B0C10;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 60px;
    /* margin: 10px 0 0 0; */
    padding: 40px;
    display: flex;
    flex-direction: column;
    color: aliceblue;
  }
  #aboutmecontent{
    margin: 10vw 0;
    font-size: 1.5vw;
    font-family: 'Montserrat', sans-serif;
    animation: abtmecontentwave 0.8s linear infinite alternate;
  }
  @keyframes abtmecontentwave{
    0%{margin: 10px 0 0 0;}
    100%{margin: 12px 0 0 10px;}
  }

  #contentflex{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #mobiledevpic{
    width: 25vw;
    position: absolute;
    transform: translate(100vw);
    transition: all 1s;
  }