@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
*{
    padding:0;
    margin:0;
}
.pythonprojects{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 190vh;
    /* width: 100vw; */
    background:linear-gradient( rgba(2, 13, 32,0.9), rgba(2, 13, 32,0.9) ), url('https://images.pexels.com/photos/1080953/pexels-photo-1080953.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') ;
    background-size: cover;
    padding: 5vh 0vw;
    text-align: center;
    box-shadow:inset 0px 0px 50px 5px  #AB25AD;
    animation: stonks1 1s linear infinite alternate;
}
@keyframes stonks1{
    0%{box-shadow:inset 0px 0px 5px 5px  #AB25AD;}
    100%{box-shadow:inset 0px 0px 70px 5px  #AB25AD;}
}
.Projheading{
    
    font-size: 50px;
    color: aliceblue;
    margin: 10vh 0 10vh 0;
    font-family: 'Montserrat', sans-serif;
}

.Pyprojopic{
    transform: scale(1);
    animation:wobble 2s linear infinite alternate;
}
@keyframes wobble{
    0%{transform: scale(0.9);}
    100%{transform: scale(1);}
}